<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <a href="{% url 'inventory:product_create' %}">Add New Product</a>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'inventory:product_detail' product.pk %}">{{ product.name }}</a>
                <a href="{% url 'inventory:product_update' product.pk %}">Edit</a>
                <a href="{% url 'inventory:product_delete' product.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

